.menu-bar a {
  color: rgb(79, 14, 165);
}
.leftbody {
  border-radius: 20px;
  background-clip: padding-box;
  background-color: red;
}
.divstyle {
  background-color: rgb(52, 182, 56);
  border-radius: 10px;
  color: rgb(233, 210, 227);
  background-clip: padding-box;
  width: 200px;
  margin-top: 2%;
}
.outer-outlet {
  color: blue;
}
.menu-bar {
  color: blueviolet;
  border-radius: 20px;
  background-clip: padding-box;
  font-size: 25px;
}
