<div class="leftbody">
  <div class="menu-bar">
    <div class="divstyle"><a routerLink="/home">Home </a><br /></div>

    <div class="divstyle"><a routerLink="/about">About Ourself</a><br /></div>

    <div class="divstyle"><a routerLink="/shopping">Shopping</a><br /></div>
    <div class="divstyle"><a routerLink="/booking">Booking</a><br /></div>
    <div class="divstyle"><a routerLink="/telephone">Telephone</a></div>
  </div>
</div>
<div class="outer-outlet"><router-outlet></router-outlet></div>
